body {
    background-color: rgb(1, 0, 48);
    color: rgb(255, 0, 242);
  }
  h1 {
    text-align: center;
  }
  
  #winnerBanner{
    text-align: center;
    font-size: 20px;
    color:  red;
    animation-name: colorChange;
    animation: colorChange 4s infinite;
  }

  .game-board {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr;
     height: 50vh;
     width: 50vh;
     padding: 10px;
    font-size: 80px;
    position: center;
    margin-left: auto;
    margin-right: auto;
  }
  .square {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 5px solid rgb(255, 52, 248);
      text-Align: center;
      color: rgb(82, 255, 246);
  }
  
  .square:nth-child(1), .square:nth-child(2), .square:nth-child(3) {
      border-top: none
  }
  .square:nth-child(3), .square:nth-child(6), .square:nth-child(9) {
      border-right: none
  }
  .square:nth-child(7), .square:nth-child(8), .square:nth-child(9) {
      border-bottom: none
  }
  .square:nth-child(1), .square:nth-child(4), .square:nth-child(7) {
      border-left: none
  }
  .score-track {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .score-column {
    padding: 0 15px 0 15px;
    border-bottom: 1px solid black;
    color:rgb(82, 255, 246)
  
  }
  .win {
    font-size: 45px;
    text-align: center;
  }
  .restart {
    width: 150px;
    height: 70px;
    border: none;
    border-radius: 50px 50px 50px 50px;
    background-color: rgb(252, 255, 82);
    color: rgb(143, 38, 255);
    font-size: 30px;;
  }

  .restart:hover {
    font-weight: bold;
    border: 5px solid rgb(143, 38, 255);
    border-radius: 50px 50px 50px 50px;
    padding: 15px
  }

  footer{
    text-align: center;
    margin-top: 5rem;
  }

  @keyframes colorChange {
    /* from {color:  red;}
    to {color: yellow;} */
    0%{ color: red;}
    25%{color: yellow;}
    50%{color: cyan;}
    75%{color: rgb(172, 0, 246);}
    100%{color: rgb(255, 0, 183);}
  }
